.card {
    width: 340px;
    height: 150px;
    background: rgb(255, 255, 255);
    transition: .2s linear;
    box-shadow: 1px 1px 10px rgb(220, 218, 218);
    cursor: default;
    border-radius: 1.0rem;
    margin: 5%
}

.shopList {
    background-color: white;
    padding: 20px;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5%;
        justify-content: center;
}

.card-top-part {
    width: 100%;
    height: 70%;
    display: flex;
}

.left-part {
    padding: 8px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-part {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }
    
    .user-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .name {
        font-size: 18px;
    }
    
    .role {
        font-size: 10px;
        color: lightcyan;
        font-weight: bold;
        text-transform: capitalize;
        background-color: rgb(6, 6, 6);
        padding: 4px 10px;
        border-radius: 15px;
    }
    
    .position {
        color: grey;
        font-size: 9.2px;
    width: 100%;
}

.card-bottom-part {
    width: 100%;
    height: 30%;
    display: flex;
    border: 1px solid rgb(231, 227, 227);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.user-photo {
    width: 100%;
    overflow: hidden;
    border-radius: 1.0rem 0 0 1.0rem;
    /* border: 1px solid rgb(231, 227, 227); */
    box-shadow: 1px 1px 1px lightslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.photo {
    width: 100%;
}

.bottom-part {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-part:hover>.link {
    transform: scale(1.1);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5.5px;
        font-weight: bold;
        transition: .2s linear;
        font-family: var(----main-font);
        color: rgb(3, 3, 3);
    }
    
    .icon {
        width: fit-content;
        height: fit-content;
        display: flex;
    align-items: center;
    justify-content: center;
}

.like {
    width: 20px;
    height: 20px;
}

.bottom-part:first-child {
    border-right: 1px solid rgb(231, 227, 227);
}