
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

:root {
    --main-color : #DBAE3E;
    --second-color : #FCF4E8;
    --third-color :  #C1B097;
    --text-color : #000000;
    --text-color-button :#FFFFFF;
    --main-font : 'Montserrat', sans-serif;
    --second-font : 'Pacifico', cursive;
    --text-weight :400;
    --text-size : 16px ;
}