
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&display=swap');


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

:root {
    --main-color : #DBAE3E;
    --second-color : #FCF4E8;
    --third-color :  #C1B097;
    --text-color : #000000;
    --text-color-button :#FFFFFF;
    --main-font : 'Montserrat', sans-serif;
    --second-font : 'Pacifico', cursive;
    --text-weight: 400px;
    --text-size : 16px ;
}

.selector {
  width: 100%;
  
}

.filtre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5%;
  background-color: var(--main-color);
  width: 100%;
  padding: 5% 30%;
}


.filtreButton {
  height: 75px;
    width: 75px;
  cursor: pointer;
  border-radius: 50%;
  /* border: #000000 2px; */
  /* filter: drop-shadow(16px 16px 20px black); */

}

div.filtre :nth-child(1) {
  background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--main-color); */
    background-image: url(/assets/images/logos/logo_couleur_arancini.png)
  }
div.filtre :nth-child(2) {
background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_asiatique.png)
}

div.filtre :nth-child(3) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_brasserie.png)
}

div.filtre :nth-child(4) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_burger.png)
}

div.filtre :nth-child(5) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_creperie.png)
}

div.filtre :nth-child(6) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_fruits_de_mer.png)
}

div.filtre :nth-child(7) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_gastronomie.png)
}

div.filtre :nth-child(8) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_indien.png)
}

div.filtre :nth-child(9) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_pates.png)
}

div.filtre :nth-child(10) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_pizza.png)
}

div.filtre :nth-child(11) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/logo_couleur_sandwich.png)
}

div.filtre :nth-child(12) {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--main-color); */
  background-image: url(/assets/images/logos/)
}
